QMainWindow {
    background-color: #f4f6f8;
}

QPushButton {
    background-color: #2f80ed;
    color: white;
    border-radius: 6px;
    padding: 6px;
}

QPushButton:hover {
    background-color: #1c6dd5;
}

QPushButton:pressed {
    background-color: #174ea6;
}

QLabel {
    font-weight: sans;
    padding: 5px;
}


