* {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(to bottom, green, white);
}

h1 {
  text-align: center;
  color: white;
  margin-bottom: 20px;
  font-size: 28px;
}

form {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

input, select {
  padding: 8px;
  border: 1px solid lightgray;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 15px;
}

.field {
  display:none;
}

